 /* Estilos específicos para telas menores */
        @media (max-width: 735px) {
            .container {
                flex-direction: column;
                height: 85vh;
                margin: 2.5rem 0;
            }

            .form-container {
                width: 100%;
            }

            .login-container {
                height: 50%;
            }

            .register-container {
                height: 50%;
                overflow-y: auto;
                background: white;
            }

            .overlay-container {
                top: unset;
                width: 100%;
                height: 50%;
                bottom: 0;
                left: 0;
            }

            .content {
                flex-direction: column;
            }

            button {
                padding: 10px 40px;
            }

            .container.right-panel-active .overlay {
                transform: translateX(50%);
            }

            .container.right-panel-active .overlay-container {
                transform: translateY(-100%);
            }

            .container.right-panel-active .register-container {
                transform: translateY(100%);
            }

            .problema {
                margin-top: 4.5rem;
            }

            .social-container {
                width: 100%;
                justify-content: space-between;
                gap: 0.25rem;
                display: flex;
            }

            .social-container a {
                height: 3.25rem;
                width: 3.25rem;
                border: 2px solid #4bb6b7;
            }
        }

        @media (max-width: 475px) {
            form {
                padding: 20px;
                height: 100%;
            }

            .container {
                height: 85vh;
                margin: 1rem 0;
            }

            .senha_tamanho {
                flex-wrap: wrap;
                justify-content: center;
                gap: 1.25rem;
            }

            .senha_title {
                font-size: 1.5em;
            }

            .senha_dados-info {
                margin: 0.5rem 0;
            }

            .especial {
                margin-bottom: 0;
            }

            .senha-btn {
                margin: 0.75rem 0;
            }

            .senha_texto {
                line-height: 1.5;
            }
        }

        @media (max-width: 320px) {
            .register-container {
                padding-top: 10.25rem;
            }

            .problema {
                margin-top: 0;
            }

            .container {
                margin-top: 3rem;
                margin-bottom: 1rem;
                height: 82vh;
            }

            .login-container {
                padding-top: 4.25rem;
            }
        }

        @media (max-height: 768px) {
            .register-container {
                padding-top: 10.20rem;
            }

            .problema {
                margin-top: 0;
            }

            .container {
                margin-top: 3rem;
                margin-bottom: 1rem;
            }

            .login-container {
                padding-top: 4.25rem;
                overflow-y: auto;
            }
        }

        /* Classes para o dark mode */
        .obj.dark #dark {
            color: white;
        }

        .home-link.dark {
            color: white;
        }

        .tema:hover .home-link.dark {
            color: rgb(43, 43, 151);
        }

        .social-container.dark a {
            border: 2px solid rgb(43, 43, 151);
        }

        .senha_btn.dark:hover i {
            color: rgb(43, 43, 151);
        }

        a.dark:hover {
            color: rgb(43, 43, 151);
        }

        .tema.dark:hover .home-link {
            color: rgb(43, 43, 151);
        }